<!-- src/app/shared/bottom-navbar/bottom-navbar.component.html -->

<nav class="bottom-navbar" aria-label="Navegación Principal">
    <a routerLink="/buscar" class="nav-link" aria-label="Buscar">
      <fa-icon [icon]="faSearch"></fa-icon>
      <span class="nav-text">Buscar</span>
    </a>
    <a routerLink="/citas" class="nav-link" aria-label="Citas">
      <fa-icon [icon]="faCalendarAlt"></fa-icon>
      <span class="nav-text">Citas</span>
    </a>
    <a routerLink="/mensajes" class="nav-link" aria-label="Mensajes">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      <span class="nav-text">Mensajes</span>
    </a>
    <a routerLink="/perfil" class="nav-link" aria-label="Perfil">
      <fa-icon [icon]="faUser"></fa-icon>
      <span class="nav-text">Perfil</span>
    </a>
  </nav>
  