<div class="header header-demo header-logo-center mb-1">
  <a routerLink="home"><i class="fa fa-home"></i><span>Inicio</span></a>
  <a routerLink="artistas"><i class="fa fa-user"></i><span>Artistas</span></a>
  <a routerLink="estudios"><i class="fa fa-building"></i><span>Estudios</span></a>
  <a routerLink="buscar"><i class="fa fa-search"></i><span>Buscar</span></a>
  <a href="#" (click)="onCuentaClick()" [attr.data-menu]="isAuthenticated ? 'menu-sidebar-left-1' : 'menu-auth-options'">
    <i class="fa fa-user-circle"></i><span>Cuenta</span>
  </a>
</div>
