<div id="page">
  <div data-card-height="cover" class="card">
    <div class="card-top notch-clear">
      <a [routerLink]="['/login']" class="me-auto icon icon-m">
        <i class="font-14 fa fa-arrow-left color-white"></i>
      </a>
    </div>

    <div data-card-height="cover" class="card">
      <div class="card-top notch-clear">
        <a [routerLink]="['/login']" class="me-auto icon icon-m">
          <i class="font-14 fa fa-arrow-left color-white"></i>
        </a>
      </div>
      <div class="card-center">
        <div class="ps-5 pe-5">
          <h1 class="color-white text-center font-800 font-40 mb-3">
            Regístrate
          </h1>
          <p class="color-highlight text-center font-12 mb-4">
            ¡Crea una cuenta! Es totalmente gratis.
          </p>

          <!-- Mensaje de éxito -->
          <div
            *ngIf="successMessage"
            class="alert alert-success text-center mt-3"
          >
            {{ successMessage }}
          </div>

          <!-- Mensaje de error general si hay algún problema -->
          <div *ngIf="errorMessage" class="alert alert-danger text-center mt-3">
            {{ errorMessage }}
          </div>

          <!-- Formulario de Registro -->
          <form [formGroup]="registerForm" (ngSubmit)="onRegister($event)">
            <!-- Campo de Nombre -->
            <div
              class="input-style input-transparent no-borders has-icon validate-field mb-3"
              [ngClass]="{
                'has-error':
                  registerForm.get('name')?.invalid &&
                  registerForm.get('name')?.touched
              }"
            >
              <i class="fa fa-user"></i>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                id="form1a"
                placeholder="Nombre"
              />
              <label for="form1a" class="color-blue-dark font-10 mt-1"
                >Nombre</label
              >

              <!-- Mensaje de error debajo del campo de entrada -->
              <div class="mt-1">
                <small
                  *ngIf="
                    registerForm.get('name')?.invalid &&
                    registerForm.get('name')?.touched
                  "
                  class="text-danger font-12"
                >
                  El nombre es obligatorio
                </small>
              </div>
            </div>

            <!-- Campo de Email -->
            <div
              class="input-style input-transparent no-borders has-icon validate-field mb-3"
              [ngClass]="{
                'has-error':
                  registerForm.get('email')?.invalid &&
                  registerForm.get('email')?.touched
              }"
            >
              <i class="fa fa-at"></i>
              <input
                type="email"
                class="form-control"
                formControlName="email"
                id="form1aa"
                placeholder="Correo electrónico"
              />
              <label for="form1aa" class="color-blue-dark font-10 mt-1"
                >Correo electrónico</label
              >

              <!-- Mensajes de error debajo del campo de entrada -->
              <div class="mt-1">
                <small
                  *ngIf="registerForm.get('email')?.errors?.['required'] && registerForm.get('email')?.touched"
                  class="text-danger font-12"
                >
                  El correo electrónico es obligatorio
                </small>
                <small
                  *ngIf="registerForm.get('email')?.errors?.['pattern'] && registerForm.get('email')?.touched"
                  class="text-danger font-12"
                >
                  Ingresa un correo electrónico válido
                </small>
              </div>
            </div>

            <div
              class="input-style input-transparent no-borders has-icon validate-field mb-3 position-relative"
              [ngClass]="{
                'has-error':
                  registerForm.get('password')?.invalid &&
                  registerForm.get('password')?.touched
              }"
            >
              <i class="fa fa-lock"></i>
              <input
                [type]="showPassword ? 'text' : 'password'"
                class="form-control pe-5"
                formControlName="password"
                placeholder="Elige una contraseña"
                (input)="checkPasswordStrength()"
              />
              <label class="color-blue-dark font-10 mt-1"
                >Elige una contraseña</label
              >
              <button
  type="button"
  aria-label="Mostrar u ocultar contraseña"
  class="btn btn-link position-absolute end-0 top-50 translate-middle-y me-2 p-0"
  (click)="togglePasswordVisibility('password')"
>
  <i
    [ngClass]="showPassword ? 'fa fa-eye-slash' : 'fa fa-eye'"
    class="color-blue-dark"
  ></i>
</button>

              <em
                *ngIf="
                  registerForm.get('password')?.invalid &&
                  registerForm.get('password')?.touched
                "
                class="text-danger font-12"
              >
                La contraseña es obligatoria (mínimo 6 caracteres)
              </em>
              <small [ngClass]="getPasswordStrengthClass()" class="mt-1">{{
                passwordStrength
              }}</small>
            </div>

            <!-- Confirmar Contraseña -->
            <!-- Confirmar Contraseña -->
            <div
              class="input-style input-transparent no-borders has-icon validate-field mb-3 position-relative"
              [ngClass]="{
                'has-error':
                  registerForm.get('confirmPassword')?.invalid &&
                  registerForm.get('confirmPassword')?.touched
              }"
            >
              <i class="fa fa-lock"></i>
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                class="form-control pe-5"
                formControlName="confirmPassword"
                placeholder="Confirma tu contraseña"
              />
              <label class="color-blue-dark font-10 mt-1"
                >Confirma tu contraseña</label
              >
              <button
                type="button"
                class="btn btn-link position-absolute end-0 top-50 translate-middle-y me-2 p-0"
                (click)="togglePasswordVisibility('confirmPassword')"
              >
                <i
                  [ngClass]="
                    showConfirmPassword ? 'fa fa-eye-slash' : 'fa fa-eye'
                  "
                  class="color-blue-dark"
                ></i>
              </button>

              <!-- Mensaje de error debajo del campo de entrada -->
              <div class="mt-1">
                <small
                  *ngIf="
                    registerForm.hasError('mismatch') &&
                    registerForm.get('confirmPassword')?.touched
                  "
                  class="text-danger font-12"
                >
                  Las contraseñas no coinciden
                </small>
              </div>
            </div>

            <!-- Redirigir a Login -->
            <div class="text-center mb-4 mt-5">
              <a
                [routerLink]="['/login']"
                class="color-white font-12 opacity-60"
                >¿Ya tienes una cuenta? Inicia sesión aquí</a
              >
            </div>

            <!-- Botón de Registro -->
            <div class="text-center">
              <a
                href="#"
                class="btn btn-icon btn-m btn-full shadow-l rounded-sm bg-highlight text-uppercase font-900 mt-4"
                [ngClass]="{ disabled: isLoading || registerForm.invalid }"
                (click)="onRegister($event)"
              >
                <i class="bg-transparent fa fa-user-plus text-center"></i>
                Crear Cuenta
                <span *ngIf="isLoading" class="spinner-border spinner-border-sm ms-2" role="status" aria-hidden="true"></span>
              </a>
            </div>
            
            
          </form>
        </div>
      </div>
      <div
        class="card-overlay-infinite preload-img"
        data-src="../../../../../assets/images/back/_bg-infinite.jpg"
      ></div>
      <div class="card-overlay bg-black opacity-80"></div>
    </div>
  </div>
</div>
